
<div class="profile-container-12">
  <div class="row">

  <h3><%= @user.user_name %></h3>
   <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, format: 'jpeg' %>
  <p><%= @post_images.count %>投稿</p>
  <p>フォロワー</p>
  <p>フォロー中</p>
  <h5><%= @user.name %></h5>
  <p><%= @user.introduction %></p>
   <% if @user.id == current_user.id %>
   <%= link_to "プロフィールを編集", edit_user_path(@user) %>
   <%= link_to "保存", edit_user_path(@user) %>
   <% else %>
   <%= link_to "フォロー中", edit_user_path(@user) %>
   <%= link_to "メッセージ", edit_user_path(@user) %>
   <%= link_to "メール", edit_user_path(@user) %>

   <% end %>



<% @post_images.each do |post_image| %>
<div>
  <%= link_to post_images_path do %>
    <%= attachment_image_tag post_image, :image, :fill, 300 , 300 %>
  <% end %>

<% end %>
<%= paginate @post_images %>
</div>
</div>