<div class='list-container py-5 bg-dark text-light'>
<div class="w-50 mx-auto mt-4">


<% @post_images.each do |post_image| %>
 <div class="row">
  <div class="col-2">
   <%= attachment_image_tag post_image.user, :profile_image, :fill, 35, 35, format: 'jpeg', class:"my-3 rounded-circle " %>
  </div>
  <div class="col-10 my-auto ">
   <%= link_to user_path(post_image.user.id) ,class:"text-light" do %>
   @<%= post_image.user.name %>
   <% end %>
  </div>  
 </div>
 
 <div class="row-12">
  <%= link_to user_path(post_image.user.id) do %>
   <%= attachment_image_tag post_image, :image, :fill, 500 , 500 ,class:"card-img-top"%>
  <% end %>
 </div>
 <div class="row-12 mt-3">

  <div id="favorites_buttons_<%= post_image.id %>">
   <%= render partial: 'favorites/favorite', locals: { post_image: post_image} %>
  </div>
     

    <p><i class="fas fa-star pr-2"></i><i class="far fa-star pr-2"></i>
    <%= link_to  post_image_path(post_image.id) ,class:"text-light" do %><i class="far fa-comment-dots pr-2"></i>
     <% end %>
    <i class="far fa-paper-plane"></i></p>

   <div class="row-12 mb-4">

    <p><%= post_image.caption %></p>
    <p><%= link_to "コメント#{post_image.post_comments.count} 件をすべて見る", post_image_path(post_image.id), class:"text-light" %></p>
    <p><%= post_image.created_at.strftime('%m/%d/%H') %></p>
   </div>
<% end %>

  </div>
 </div>
</div>